ansible==5.1.0
ansible-core==2.12.1
awscli==1.22.24
beautifulsoup4==4.10.0
boto==2.49.0
boto3==1.20.24
botocore==1.23.24
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
colorama==0.4.3
cryptography==36.0.1
docutils==0.15.2
idna==3.3
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
ntlm-auth==1.5.0
packaging==21.3
pyasn1==0.4.8
pycparser==2.21
pyparsing==3.0.6
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
requests-ntlm==1.1.0
resolvelib==0.5.4
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.7
